@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
body {
    font-family: sans-serif;
}

.form-control {
    margin-bottom: 10px;
}

.form-control {
    border: 1px solid lightblue; /* Light blue border (optional) */
    color: #19A2DD; /* Placeholder text color */
    padding: 5px; /* Add some padding for better visibility */
    }


.form-control:focus {  /* Add a slightly darker outline on focus */
outline: 1px solid #B3CDE0;
}